.cardStatusContainer{
    flex-direction: row !important;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0px !important;
}
.ColumnDashboard{
    width: 100%;
}
.HeaderContainer{
border: 0px !important;
align-items: flex-end;
}
.HeaderContent{
    border: 0px !important;
    width: 50%;
    justify-content: space-between;
    flex-Direction: row !important;
    margin-top:20px;
    margin-bottom:20px;
    align-items:center
}
.HeaderContentTitle{
    color: #A16207;
}
.overViewColumn{
    border: 1px solid gray !important;
   
}
.CardTitleCotainer{
    justify-content: center;
    align-items: center;
    border: 0px !important;
}
.CardTitle{
    color: #A16207;
    margin-top:10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.LocationOverViewCard{
    flex-direction:row !important;
    justify-content:space-around;
    align-items:center;
    margin-top:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.ViewButton{
    color: #A16207 !important;
    background-color: #fff !important;
    border-color: #A16207 !important;
    border-radius: 20px !important;
    width: 20%;
}
.ViewMoreCardButton{
    justify-content:center;
    align-items:center;
    padding-top:10px;
    padding-bottom:10px
}
.ViewMoreButton{
   border-radius: 20px !important;
   width: 50% !important;
   background-color: #A16207 !important;
   border: 0px white !important;
}
.BookedCardStatus{
    justify-content:center; 
    align-items:center;
    width:15%; 
    border:1px solid green !important
}
.RentedCardStatus{
    justify-content:center; 
    align-items:center;
    width:15%; 
    border:1px solid blue !important
}
.onSaleCardStatus{
    justify-content:center; 
    align-items:center;
    width:15%; 
    border:1px solid #8A2BE2 !important
}
.ToBeRentedCardStatus{
    justify-content:center; 
    align-items:center;
    width:15%; 
    border:1px solid brown !important
}
.BoughtCardStatus{
    justify-content:center; 
    align-items:center;
    width:15%; 
    border:1px solid #A16207 !important
}
.NavLink{
    color: black !important;
}