.headerContainer{
    border: 0px solid!important;
}
.headerRight{
    flex-direction: row !important;
    justify-content:space-between !important;
    align-items: center;
    border: 0px !important 
}
.locationHeader{
    display:flex;
    justify-content:flex-end;
    background: (196, 196, 196, 0.1)
}
.card-link{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 20px;
}
.card-link:hover{
color:#A16207;
text-decoration: none;

}
.card-link:active{
    color: brown;
}
.loginButton{
    background: rgba(161, 98, 7, 0.1) !important;
    border: 2px solid #A16207 !important;
    box-sizing: border-box;
    border-radius: 8px;
    color: #000000 !important;
}



