.navLink{
color: #000 !important;
}
.navLink:hover{
    color: #000 !important;
    background-color: #A16207 !important;
}
.activeLink{
    color: #000 !important;
    background: gray !important;
}
