.card-link{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 20px;
}
.card-link:hover{
color:#A16207;
text-decoration: none;

}
.card-link:active{
    color: brown;
}



